.toolbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    position: relative;
    padding: 0 12px;
    border-bottom: solid 1px #505050;
}
.toolbar__title {
    position: absolute;
    margin-left: 80px;
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.toolbar__buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}
.toolbar-btn {
    display: block;
    padding: 0 12px;
    line-height: 48px;
    height: 48px;
    overflow: hidden;
    background: transparent none;
    border: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    font-weight: 500;
    transition: background 0.15s ease-out,
    color 0.15s ease-out,
    border 0.15s ease-out;
}
a.toolbar-btn:hover {
    background-color: rgba(255, 255, 255, .12);
}
.toolbar-btn > .material-icons {
    display: block;
    margin: 12px 0;
}
.toolbar-btn_back {
    margin-right: 20px;
}
.toolbar-btn_primary {
    background-color: #fff;
    color: #00aeef;
}
.toolbar-btn_primary.toolbar-btn_inverted {
    background-color: #00aeef;
    color: #fff;
}
.toolbar-btn_circle {
    border-radius: 24px;
}
.toolbar-btn__container {
    position: relative;
}
.toolbar__selected,
.toolbar__filtered {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 12px 0 24px;
    background-color: #424242;
}
.toolbar__selected.hidden,
.toolbar__filtered.hidden {
    display: none;
}
.toolbar_light .toolbar__selected,
.toolbar_light .toolbar__filtered {
    background-color: #eee;
}
.toolbar_light .toolbar-btn {
    color: #333;
}
.toolbar_light a.toolbar-btn:hover {
    background-color: rgba(0, 0, 0, .06);
}
.toolbar_light {
    border-color: rgba(0, 0, 0, .12);
}
.toolbar_header {
    border: none;
}
.toolbar_light .toolbar-btn_primary {
    color: #00aeef;
    background-color: #fff;
}
.toolbar_light a.toolbar-btn_primary.toolbar-btn_inverted {
    background-color: #00aeef;
    color: #fff;
}
.toolbar_light a.toolbar-btn_primary.toolbar-btn_inverted:hover {
    background-color: rgba(0, 174, 239, .48);
}